---
- name: Configurar Malicious Client
  hosts: all 
  become: yes
  tasks:

    - name: Instalar net-tools (para comando arp)
      apt:
        name: net-tools
        state: present
        update_cache: yes

    - block:
        - name: Del default route
          command: ip route del default

        - name: Levantar interface enp0s8
          command: ip link set enp0s8 up

        - name: Ajuste arp table
          command: arp -i enp0s8 -s 192.168.59.20 08:00:27:EE:EE:EE

        - name: Desabilitar ECN
          command: "sysctl -w net.ipv4.tcp_ecn=0"

        - name: Marcar pacotes com TOS (mangle POSTROUTING)
          command: "iptables -t mangle -A POSTROUTING -j TOS --set-tos 0x01/0x03"
      ignore_errors: yes
