---
- name: Configurar router
  hosts: all
  become: yes
  tasks:
    - name: Enable interface
      command: ifconfig enp0s9 up
    
    - name: Enable interface
      command: ifconfig enp0s10 up
      

    - name: Enable interface
      command: ifconfig enp0s16 up
    
  
    - name: Enable interface
      command: ifconfig enp0s17 up

    - name: Compile p4 code
      command: p4c -b bmv2 /vagrant/code/l4s_ace_detec.p4 -o /vagrant/code/l4s_ace_detec.bmv2
    
  
    - name: Start Bmv2 Switch
      shell: simple_switch --device-id 1 --thrift-port 9090 --interface 0@enp0s9 --interface 1@enp0s10 --interface 2@enp0s16 --interface 3@enp0s17 /vagrant/code/l4s_ace_detec.bmv2/l4s_ace_detec.json -- --priority-queues 8 &
      async: 1000
      poll: 5
    
  
    - name: Insert entries in switch table by control plane
      shell: cat /vagrant/code/table1.txt | simple_switch_CLI
    
    - name: Insert general configs, mirroring and queues
      shell: cat /vagrant/code/general_config.txt | simple_switch_CLI
    
    - name: Disable offloading features on enp0s9
      command: ethtool --offload enp0s9 gso off tso off gro off
    
    - name: Disable offloading features on enp0s10
      command: ethtool --offload enp0s10 gso off tso off gro off

    - name: Disable offloading features on enp0s16
      command: ethtool --offload enp0s16 gso off tso off gro off

    - name: Disable offloading features on enp0s17
      command: ethtool --offload enp0s17 gso off tso off gro off
    
