---
- name: Configurar Servidor L4S
  hosts: all
  become: yes
  tasks:

    - name: Instalar net-tools (para comando arp)
      apt:
        name: net-tools
        state: present
        update_cache: yes

    - block:
        - name: Del default route 
          command: ip route del default

        - name: Levantar interface enp0s8
          command: ip link set enp0s8 up

        - name: Adjuste arp table
          command: arp -i enp0s8 -s 192.168.56.10 08:00:27:AA:AA:AA

        - name: Habilitar ECN
          command: "sysctl -w net.ipv4.tcp_ecn=3"

        - name: Desativar TSO, GSO e GRO
          command: ethtool -K enp0s8 tso off gso off gro off

        - name: Configurar FQ no enp0s8
          command: "tc qdisc replace dev enp0s8 root handle 1: fq limit 20480 flow_limit 10240"
      ignore_errors: yes
